@font-face {
  font-family: Source-Sans-Pro;
  src: local(Source-Sans-Pro-Regular),
    url(fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3 {
  font-weight: normal;
}
html {
  min-height: 100%;
}
body {
  font-family: Source-Sans-Pro;
  font-size: 18px;
  max-width: 980px;
  margin: 0 auto;
  min-height: 100%;
}
header {
  background-color: #6fcadc;
}
header,
main {
  flex: 100%;
}
figure {
  display: inline-block;
  text-align: center;
  margin: 0.5em;
}
figure img {
  border: 1px solid #fff;
  padding: 0.5em;
  width: 8em;
}
figcaption {
  color: #fff;
  display: inline-block;
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin-bottom: 0.5em;
}
a {
  text-decoration: none;
}
.info {
  display: inline-block;
  padding-right: 0.5em;
}
.info ul {
  list-style-type: none;
  margin-left: 1em;
}
.info li {
  position: relative;
  margin: 0.8em;
  margin-right: 0;
}
.info .phone {
  font-size: 0.9em;
}
.info li::before {
  left: -2em;
  position: absolute;
}
address {
  display: inline;
}
.adress::before {
  content: url(images/map.png);
}
.phone::before {
  content: url(images/phone.png);
}
.email::before {
  content: url(images/email.png);
}
.git::before {
  content: url(images/git.png);
  display: inline-block;
  height: 10px;
  width: 15px;
}
.telegram::before {
  content: url(images/telegram.png);
}
.discord {
  display: none;
}
.discord::before {
  content: url(images/discord.png);
}
.info h3,
.info p {
  display: inline-block;
}
main section h2 {
  color: #fff;
  display: inline-block;
  font-size: 1.2em;
  min-width: 10em;
  padding: 0.2em 1em;
}
main p {
  padding: 1em;
}
.about h2,
.exper h2,
.lang h2 {
  background-color: #6fcadc;
}
main ul {
  margin: 1em 2em;
}
.code img {
  margin-top: 0.5em;
  display: block;
}
.skills h2,
.edu h2 {
  background-color: #eba720;
}
.code h2,
.proj h2 {
  background-color: #3dba92;
}
@media only screen and (min-width: 480px) {
  figure {
    margin: 1em;
  }
  figcaption {
    font-size: 1.6em;
  }
  .info {
    margin-left: 1em;
  }
  .discord {
    display: inline;
  }
}
@media only screen and (min-width: 768px) {
  body {
    display: flex;
    flex-wrap: wrap;
  }
  header {
    flex: 30%;
  }
  header,
  main {
    padding-top: 2em;
    box-sizing: border-box;
  }
  figure,
  .info {
    display: block;
  }
  figcaption {
    font-size: 2em;
  }
  .info ul {
    left: 0.7em;
    margin: 1em auto;
    position: relative;
    width: 9em;
  }
  .info li {
    font-size: 1.2em;
  }
  .info .discord,
  .info .phone {
    font-size: 1em;
  }
  main {
    flex: 70%;
  }
  main section > * {
    padding-left: 2em;
  }
  main ul {
    margin-left: 1em;
  }
}
