* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
body {
  font-family: Roboto;
  font-size: 1.6rem;
}
a,
a:visited,
a:active {
  text-decoration: none;
  color: indianred;
}
.print {
  display: none;
}
.wrapper {
  /* A4 size */
  width: 797px;
  height: 1127px;
  box-shadow: 0 0 5px lightgray;
  margin: 0 auto;
  display: flex;
}
.about {
  width: 30%;
  background-color: #286ff3;
  padding: 45px 0 0 10px;
  color: #fff;
}
.avatar {
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  width: 138px;
}
.about__item {
  padding: 50px 20px 0 15px;
}
.about__title {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 1.6rem;
  letter-spacing: 0.085em;
  padding-left: 20px;
}
.contacts__list {
  font-size: 1.4rem;
  line-height: 140%;
  letter-spacing: 0.085em;
  padding: 20px 0 10px;
  border-bottom: 1px solid #fff;
  list-style-type: none;
}
.contacts__item {
  padding: 8px 0;
  display: flex;
  align-items: center;
}
.contacts__item a {
  color: #fff;
}
.contacts__item::before {
  margin-right: 10px;
}
address {
  font-style: normal;
}
.address:before {
  content: url(./images/map.png);
}
.email:before {
  content: url(./images/email.png);
}
.phone:before {
  content: url(./images/phone.png);
}
.telegram:before {
  content: url(./images/telegram.png);
}
.github:before {
  content: url(./images/git.png);
}
.discord:before {
  content: url(./images/discord.png);
}
.skills__list {
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: 0.085em;
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;
  padding: 20px 0 20px 15px;
}
.skills__item {
  padding: 5px 0 5px 5px;
}
.main-data {
  flex: 1;
  padding: 35px 40px 10px;
}
.main-data__top-title {
  padding-bottom: 30px;
}
.name,
.prof {
  color: #286ff3;
}
.name {
  font-size: 3.2rem;
  line-height: 140%;
  letter-spacing: 0.085em;
  padding-bottom: 15px;
}
.prof {
  padding-bottom: 10px;
  position: relative;
}
.prof::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 38%;
  border-bottom: 1px solid #000;
}
.data__title {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 1.6rem;
  letter-spacing: 0.085em;
  color: #3780f0;
  padding-bottom: 15px;
}
.data {
  font-size: 1.6rem;
  line-height: 147.69%;
  color: #5a5a5a;
  padding: 20px 0 10px;
}
.data a {
  color: #000;
  border-bottom: 1px solid lightgray;
  padding-bottom: 3px;
}
.data__list li {
  padding: 5px 0;
}
.codewars-badge {
  margin-left: 20px;
  display: inline-block;
  position: relative;
  bottom: -3px;
}
@media print {
  .screen {
    display: none;
  }
  .print {
    display: inline;
  }
  .wrapper *,
  .phone a {
    color: #000;
  }
  .about {
    width: 35%;
    padding-left: 0px;
  }
  .main-data a {
    border-bottom: none;
  }
  .projects {
    font-size: 1.4rem;
  }
}
